<style>
body {
    overflow: hidden;
}
</style>

<script type="text/javascript" src="{{ url_for('static', filename='three.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='three-spriteMathtJaxedText.min.js') }}"></script>
<script src="{{ url_for('static', filename='3d-force-graph.min.js') }}"></script>

<div id="3d-graph"></div>
<script>
const Graph = ForceGraph3D()
    (document.getElementById('3d-graph'))
    .jsonUrl('/graph')
    .nodeId('uuid')
    .nodeAutoColorBy('labels')
    .nodeRelSize(100)
    .nodeLabel('name') 
    .nodeThreeObject(node => {
        const sprite = new SpriteText(node.name);
        sprite.color = node.color;
        sprite.textHeight = 8;
        return sprite;
    })
    .linkLabel('type')
    .linkAutoColorBy('type')
    .linkOpacity(.5)
    //.linkWidth(1)
    .linkDirectionalParticles(10)
    .linkDirectionalParticleSpeed(0.005);
//
// Spread nodes a little wider
Graph.d3Force('charge').strength(-200);

window.addEventListener("resize", Graph.width(window.innerWidth).height(window.innerHeight));
</script>