<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

    <div class="left" id="3d-graph">
        <iframe id="draw3dforce" width="100%" height="100%" src="draw3dforce"></iframe>
    </div>

    <div class="right">
        <div class="row1">
            <form role="search" class="navbar-form" id="search">
                <input type="text" value="Matrix" placeholder="Search" class="form-control" name="search">
                <button class="btn btn-default" type="submit">Search</button>
            </form>
        </div>

        <div class="row2">
            <iframe id="editor" width="100%" height="100%" src="editor"></iframe>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.11.0.min.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                function search() {
                    // $('.row') will select any element with class="row"
                    // $('#row') will select the element with id=row
                    var query = $("#search").find("input[name=search]").val();
                    $.get("/search?q=" + encodeURIComponent(query),
                        function (data) {
                            var t = $(".row3").empty();
                            if (!data.nodes || data.nodes.length == 0) return;
                            data.nodes.forEach(function (node) {
                                t.append("uuid:" + node.uuid + ", name:" + node.name + ", labels: " +
                                    node.labels + "<br>")
                            });
                        }, "json");
                    return false;
                }

                $("#search").submit(search);
                search();
            })
        </script>

        <div class="row4">
            <iframe id="drawd3jsforce" width="100%" height="100%" src="drawd3jsforce"></iframe>
        </div>
    </div>

</body>

</html>