body {
  font-family: Arial;
  color: white;
}

.left {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
  background-color: #111;
}

.right {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;    right: 0;
  background-color: red;
}

.row1 {
  height: 20px;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;    right: 0;
  background-color: green;
}

.row2 {
  height: 100px;
  width: 50%;
  position: fixed;
  top: 20px;
  overflow-x: hidden;
  padding-top: 20px;    
  right: 0;
  background-color: blue;
}

.row3 {
  height: auto;
  width: 50%;
  position: fixed;
  bottom: 50%;
  overflow: auto;
  padding-top: 20px;    
  right: 0;
  background-color: grey;
}

.row4 {
  height: 50%;
  width: 50%;
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
  background-color: darkcyan;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
  